{% extends 'base.html.twig' %}

{% block content %}
    <h1>Parse Product from Alza.cz</h1>

        <form method="post" action="{{ path('parse_product_process') }}">
            <label for="product_url">Product URL:</label>
            <input type="text" id="product_url" name="product_url" required>
            <button type="submit">Parse Product</button>
        </form>
{% endblock %}
