{% extends 'base.html.twig' %}

{% block content %}
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('product_show', {'id': product.id}) }}">
                    {{ product.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('product_new') }}">Add New Product</a>
    <a href="{{ path('parse_product_form') }}">Parse</a>
{% endblock %}
