<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Symfony Test App{% endblock %}</title>
</head>
<body>
<header>
    <!-- TODO -->
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <!-- TODO -->
</footer>
</body>
</html>
